<div class="mt-4 flex w-full items-center justify-between rounded-2xl bg-white p-3 shadow-3xl shadow-lg">
    <div class="flex items-center">
        <a href="">
            <div>
                <img class="h-[83px] w-[83px] rounded-lg" src="{{img_source}}" alt="Section image">
            </div>
            <div class="ml-4">
                <p class="text-base font-bold text-[#f4511e]">
                    {{name}}
                </p>
                <p class="mt-2 mb-2 text-sm text-gray-600">
                    {{description}}
                </p>
                <a class="text-sm text-zinc-500 hover:text-red-700"
                    href="https://github.com/erlete/aerotech-programming-course/issues/new?assignees=erlete&labels=bug&projects=&template=user-report.md&title=%5BUC%5D+%3Cissue+title+goes+here%3E&milestone=User%20Reports">
                    Report an issue
                </a>
            </div>
        </a>
    </div>
</div>
