<div class="text-block">

    <div class="w-full">
        <h5 class="mx-1 mb-2 mt-0 locked">
            {{{title}}}
        </h5>
        <p class="mx-1 mt-2 text-base text-text">
            {{{description}}}
        </p>
    </div>

    {{#each content_cards}}
        {{> content_card }}
    {{/each}}
</div>
