<div id="content-cards" class="!z-5 relative flex w-full flex-col rounded-[20px] bg-indigo-50 bg-clip-border p-4 shadow-3xl shadow-lg">

    <div class="w-full mb-1">
        <h4 class="ml-1 mr-1 antialiased tracking-normal font-sans text-xl leading-snug text-inherit font-semibold">
            {{title}}
        </h4>
        <p class="ml-1 mr-1 mt-4 text-base text-gray-600">
            {{description}}
        </p>
    </div>

    {{#each content_cards}}
        {{> content_card }}
    {{/each}}
</div>
