<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="sr-only">UVigo Aerotech</span>
        <img class="h-10 w-10" src="/public/aerotech/icon.png" alt="UVigo Aerotech">
      </a>
    </div>
    <div class="flex">
      <a href="https://github.com/erlete/aerotech-programming-course" target="_blank" class="-m-1.5 p-1.5">
        <span class="sr-only">GitHub Repository</span>
        <img class="h-10 w-10" src="/public/github/github-mark.svg" alt="GitHub Repository">
      </a>
    </div>
  </nav>
</header>
