<div class="flex items-center justify-between mt-8">
  <a href="{{previous_page_link}}"
    class="group relative overflow-hidden bg-primary-500 inline-flex items-center px-7 py-2.5 rounded-lg text-title font-semibold justify-center">
    <svg class="z-40 mr-2 -ml-1 w-3 h-3 transition-all duration-300 group-hover:-translate-x-1" fill="currentColor"
      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z" clip-rule="evenodd" />
    </svg>
    <span class="z-40">Previous page</span>
    <div
      class="absolute inset-0 h-[200%] w-[200%] rotate-45 -translate-x-[-70%] transition-all group-hover:scale-100 bg-primary-100/50 group-hover:-translate-x-[70%] z-20 duration-1000">
    </div>
  </a>
  <a href="{{next_page_link}}"
    class="group relative overflow-hidden bg-primary-500 inline-flex items-center px-7 py-2.5 rounded-lg text-title font-semibold justify-center">
    <span class="z-40">Next page</span>
    <svg class="z-40 ml-2 -mr-1 w-3 h-3 transition-all duration-300 group-hover:translate-x-1" fill="currentColor"
      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"
        clip-rule="evenodd" />
    </svg>
    <div
      class="absolute inset-0 h-[200%] w-[200%] rotate-45 translate-x-[-70%] transition-all group-hover:scale-100 bg-primary-100/50 group-hover:translate-x-[70%] z-20 duration-1000">
    </div>
  </a>
</div>
