<div class="bg-secondary-100 rounded-xl shadow-md overflow-hidden p-4 pt-0 mt-4">
    <h3 class="mx-1 my-4 antialiased tracking-normal font-sans text-xl leading-snug text-inherit font-bold">
        {{{title}}}
    </h3>
    <div class="flex items-center justify-center px-6">
        <div class="space-y-6 border-l-2 border-dashed border-title">
            {{#each step_collection}}
                {{> step }}
            {{/each}}
        </div>
    </div>
</div>
