<div class="relative w-full">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="title"
    class="absolute -top-1 -l-0.25 z-10 -ml-3.5 h-7 w-7 rounded-full text-title">
    <rect x=6 y=6 height=12 width=12 class="fill-primary-500" />
    <path fill-rule="evenodd"
      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
      clip-rule="evenodd" />
  </svg>
  <div class="ml-6">
    <h4 class="block antialiased tracking-normal font-sans text-lg leading-snug text-inherit mb-2 font-semibold">
      {{index}}. {{{title}}}
    </h4>
    <p class="block antialiased font-sans text-base leading-relaxed font-normal text-text mt-2">
      {{{body}}}
    </p>
  </div>
</div>
