<div class="mx-auto bg-secondary-50 rounded-xl shadow-md overflow-hidden mt-4">
  <div class="p-4 flex items-center">
    <div class="pr-4 bg-secondary-800 p-4 rounded-lg text-center">
      <p class="text-4xl font-bold text-secondary-50">{{index}}</p>
    </div>
    <div class="ml-4">
      <div class="block antialiased tracking-normal font-sans text-lg leading-snug text-inherit mb-1 font-semibold">
        {{{title}}}
      </div>
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-text mt-2">
        {{{body}}}
      </p>
    </div>
  </div>
</div>
