<div class="mx-4 my-8 bg-secondary-100 rounded-xl shadow-md overflow-hidden p-4 pt-0">
    <h5 class="">
        {{{title}}}
    </h5>
    <div class="flex items-center justify-center px-6">
        <div class="space-y-6 border-l-2 border-dashed border-title">
            {{#each step_collection}}
                {{> step }}
            {{/each}}
        </div>
    </div>
</div>
