@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */

/* Hide element */
.hidden {
    display: none;
}

/* Prevent text selection */
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Allow all text selection */
.select-all {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Prepare text boundaries for background gradient */
.gradient-color-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Code blocks */
pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: #eeb027;
    background-color: #1e1b4b;
    border-radius: 6px;
    margin-bottom: 0;
    word-break: normal;
    word-wrap: normal;
    margin-top: 0;
    margin-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Monaco,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
    font-family: monospace;
    font-size: 1em;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

/* code {
    padding: 16px;
    display: inline;
    font-size: 85%;
    line-height: 1.45;
    color: #ffffff;
    background-color: #1e1b4b;
    border-radius: 6px;
    font-family: Monaco,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    display: block;
    white-space: pre-wrap;
    margin: 1em 0px;
} */

code {
    background-color: #1e1b4b;
    color: #eeb027;
    display: inline;
    white-space: pre-wrap;
    font-weight: semibold;
    font-size: 0.8em;
    font-family: Monaco,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    padding: 0.2em 0.4em 0.4em 0.4em;
    border-radius: 6px;
}

/* Links */
a {
    color: #312e81;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #4338ca;
    transition: all 0.3s ease-in-out;
}
